{% extends 'base.html.twig' %}

{% block body %}
<section class="container" style="">
    <div class="row">
        <div class="col s12">
            <h3>Historia clinica de {{paciente.apellido}}, {{paciente.nombre}}</h3>
        </div>
        <br clear="all">
    </div>

    <div class="divider divider-margin"></div>

    <div class="row">
        {% if noResults %}
            {% include '/noresults.html.twig' %}
            </div> <!-- para cerrar el div del row -->
        {% else %}

        <span id="paginacion" style="display: none">{{ elementos }}</span>

        {% for consulta in allConsulta %}
        <div class="col s12 l6 cardContainer">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">
                        {{consulta.fecha}}
                        <!-- Dropdown Trigger -->
                        <a href="#!" data-activates="{{ "card-dropdown#{loop.index}" }}" class="secondary-content dropdown-button float-right">
                            <i class="icon-cyan material-icons">settings</i>
                        </a>
                    </span>

                    <div class="divider"></div>

                    <div class="contenido-card">
                        <p style="display: none;">{{ consulta.idconsulta }}</p>
                        <p>Edad: {{consulta.edad}}  </p>
                        <p>Talla: {{consulta.talla}} </p>
                        <p>Peso: {{consulta.peso}} </p>
                        <p>Observciones: 
                        {% if ( consulta.obs_grales == null)  %}
                                        <span> - - - </span>
                        {% else %}
                                       <span>  {{ consulta.obs_grales }} </span>
                        {% endif %}
                        </p>
                        <p style="display: none;">{{ consulta.nombre }}</p>
                        <p style="display: none;">{{ consulta.apellido }}</p>
                    </div>
                </div>

                <!-- Dropdown Structure -->
                <ul id="card-dropdown{{ loop.index }}" class='dropdown-content'>
                
                        <li>
                            <a href="?controller=consultas&action=showconsulta&idconsulta={{ consulta.idconsulta }}">Show</a>
                        </li>
                        <li class="divider"></li>
                    {% if (consulta_destroy == true)  %}
                        <li>
                            <a data-target="modal1" class="modal-trigger openDeleteModal" data-id="{{ consulta.idconsulta }}/{{ consulta.apellido }}, {{ consulta.nombre }}">Delete</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                        <li>
                            <a href="?controller=consultas&action=updateconsulta&idconsulta={{ consulta.idconsulta }}">Update</a>
                        </li>
                        <li class="divider"></li>
                    {% if (consulta_new == true)  %}
                        <li>
                            <a href="?controller=Consultas&action=newConsulta">Cargar consulta</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                    {% if (consulta_show == true)  %}
                        <li>
                            <a href="?controller=Consultas&action=index&idconsulta={{ consulta.idconsulta }}">Ver historia</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                    {% if (consulta_destroy == true)  %}
                        <li>
                            <a data-target="modal2" class="modal-trigger openDeleteHistoryModal" data-id="{{ consulta.idconsulta }}/{{ consulta.apellido }}, {{ consulta.nombre }}">Eliminar historia</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="divider divider-margin"></div>

    <div class="paginacionDiv">
        <ul class="pagination center-align">
            <li class="disabled pagination-back"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% for i in range(0, (consultasCant // elementos)) %}
                <li class="pagination-li waves-effect"><a href="#!">{{ loop.index }}</a></li>
            {% endfor %}
            <li class="pagination-next"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>

{% endif %} <!-- Del noResults -->

</section>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light icon-cyan" href="?controller=Consultas&action=newConsulta&idconsulta={{consulta.idconsulta}}">
             <i class="large material-icons">add</i>
        </a>
    </div>


{% include '/consultas/modals.html.twig' %}

{% endblock %}