{% extends 'base.html.twig' %}

{% block body %}

<div class=" col s8 offset-s2">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card hovercard">
                    <div class="card-background"></div>
                    <div class="useravatar">
                        <img alt="" src="../../public/imgs/patient4.png">
                    </div>
                    <div class="card-info"> <span class="card-title">Carga una nueva consulta para {{paciente.nombre}}, {{paciente.apellido}}!</span> </div>
                </div>
            
                <div class="col s12">
                        <form class="col s12" method="post" action="index.php?controller=Pacientes&action=auxNewPaciente" autocomplete="off" onsubmit="return validateFormPac()">
                                <br>
                                <h5>Datos de consulta</h5>
                                <br>
                                <div class="input-field col s12 m4">
                                    <input id="nombre" name="nombre" type="text" class="validate" required>
                                    <label for="nombre">*Nombre</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="apellido" name="apellido" type="text" class="validate" required>
                                    <label for="apellido">*Apellido</label>
                                </div>
                                
                                <div class="input-field col s12 m4">
                                    <input type="text" name="fecha_nacimiento" id="fecha_nacimiento"  class="datepicker">
                                    <label for="fecha_nacimiento">*Fecha de nacimiento</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select name="idGenero" id="idGenero" class="icons">
                                            <option value="" disabled selected>Genero</option>
                                            <option data-icon="/public/imgs/female.png" class="circle" value="1">Femenino</option>
                                            <option data-icon="/public/imgs/male.png" class="circle" value="2">Masculino</option>
                                    </select>
                                    <label>*Género</label>
                                </div>

                                <div class="input-field col s12 m4">
                                    <select name="idTipoDoc" id="idTipoDoc" >
                                            <option value="" disabled selected>Tipo de documento</option>
                                            {% for tipo in allTipoDoc %}
                                                <option value="{{ tipo.id }}" >{{ tipo.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>*Tipo de Documento?</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="dni" name="dni" type="number" min="1" class="validate" required>
                                    <label for="dni">*DNI</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="domicilio" name="domicilio" type="text" class="validate" required>
                                    <label for="domicilio">*Domicilio</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="telefono" name="telefono" type="number" class="validate">
                                    <label for="telefono">Telefono</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select name="idObraSocial" id="idObraSocial">
                                            <option value="" disabled selected>Obra Social</option>
                                            {% for obra in allObraSocial %}                                            
                                                <option value="{{ obra.id }}">{{ obra.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>Obra Social</label>
                                </div>
                                <br>        
                    </form>
            </div>
        </div>
    </div>
</div>           
       
<script>

</script>
{% endblock %}