{% extends 'base.html.twig' %} {% block body %}
<section class="container">
    <div class="row">
        <div class="col s12">
            <h3>Configuracion</h3>
        </div>
    </div>

    <div class="divider divider-margin"></div>

    <form method="post" action="index.php?controller=Config&action=update" onsubmit="return validacionAdmin();">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Email</th>
                    <th>Elementos</th>
                    <th>Mantenimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="data">{{ titulo }}</span>
                        <div class="input-field">
                            <input name="titulo" id="titulo" type="text" class="validate" value="{{titulo}}" name="titulo" required>
                        </div>
                    </td>
                    <td>
                        <span class="data">{{ email }}</span>
                        <div class="input-field">
                            <input name="email" id="email" type="text" class="validate" value="{{email}}" name="email" required>
                        </div>
                    </td>
                    <td>
                        <span class="data">{{ elementos }}</span>
                        <div class="input-field">
                            <input name="elementos" id="elementos" type="number" min="1" class="validate" value="{{elementos}}" name="elementos" required>
                        </div>
                    </td>
                    <td>
                        <a data-target="modal4" class="modal-trigger" >{% if mantenimiento %} {{ "Presiona para activar sitio." }} {% else %} {{ "Presiona para desactivar sitio." }} {% endif %}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        {% for card in cards %}
        <div class="col s12 m12 l4 card-container">
            <div class="card">
                <h4 class="card-header">
                    <small><span class="data">{{ card.titulo }}</span></small>
                    <div class="input-field">
                        <input name="titulo{{loop.index}}" type="text" class="validate" value="{{card.titulo}}" required>
                    </div>
                </h4>
                <div class="card-body">
                    <p class="card-text"><span class="data" required>{{ card.descripcion }}</span></p>
                    <div class="input-field">
                        <textarea name="descripcion{{loop.index}}" class="validate materialize-textarea" required>{{card.descripcion}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large icon-cyan updateTrigger">
            <i class="large material-icons">edit</i>
        </a>
    </div>

    <div class="divider"></div>

    <div class="buttons-container">
        <a class="waves-effect waves-teal btn-flat updateButton backTrigger">Volver</a>
        <button class="btn waves-effect waves-light right-align updateButton" type="submit" name="action">Aceptar
            <i class="material-icons right">send</i>
        </button>
    </div>

    </form>
</section>

{% include '/config/modals.html.twig' %}

{% endblock %}