{% extends 'base.html.twig' %} {% block body %}
<section class="container">
    <div class="row">
        <div class="col s12">
            <h3>Configuracion</h3>
        </div>
    </div>

    <div class="divider divider-margin"></div>

    <form method="post">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Email</th>
                    <th>Elementos</th>
                    <th>Mantenimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="data">{{ titulo }}</span>
                        <div class="input-field">
                            <input type="text" class="validate" value="{{titulo}}" name="titulo">
                        </div>
                    </td>
                    <td>
                        <span class="data">{{ email }}</span>
                        <div class="input-field">
                            <input type="text" class="validate" value="{{email}}" name="email">
                        </div>
                    </td>
                    <td>
                        <span class="data">{{ elementos }}</span>
                        <div class="input-field">
                            <input type="text" class="validate" value="{{elementos}}" name="elementos">
                        </div>
                    </td>
                    <td>
                        <span class="data">{% if mantenimiento %} {{ "Activado" }} {% else %} {{ "Desactivado" }} {% endif %}<span>
                        <div class="input-field">
                            <input type="text" class="validate" value="{{mantenimiento}}" name="mantenimiento">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        {% for card in cards %}
        <div class="col s12 m4 card-container">
            <div class="card">
                <h4 class="card-header">
                    <small><span class="data">{{ card.titulo }}<span></small>
                    <div class="input-field">
                        <input type="text" class="validate" value="{{card.titulo}}">
                    </div>
                </h4>
                <div class="card-body">
                    <p class="card-text"><span class="data">{{ card.descripcion }}<span></p>
                    <div class="input-field">
                        <textarea class="validate materialize-textarea" value="{{card.descripcion}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red updateTrigger">
            <i class="large material-icons">edit</i>
        </a>
    </div>

    <a class="waves-effect waves-teal btn-flat updateButton backTrigger">Volver</a>
    <a class="waves-effect waves-teal btn-flat updateButton">Reset</a>
    <button class="btn waves-effect waves-light updateButton" type="submit" name="action">Aceptar
        <i class="material-icons right">send</i>
    </button>

    </form>
</section>
{% endblock %}