{% extends 'base.html.twig' %} {% block body %}
<section class="container">
    <div class="row">
        <div class="col s12">
            <h3>Configuracion</h3>
        </div>
    </div>

    <div class="divider divider-margin"></div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Email</th>
                    <th>Elementos</th>
                    <th>Mantenimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span id="titleSpan">{{ titulo }}<span>
                        <div class="input-field col s12">
                            <input type="text" class="validate" value="{{titulo}}" name="titulo">
                        </div>
                    </td>
                    <td>
                        <span id="emailSpan">{{ email }}<span>
                        <div class="input-field col s12">
                            <input type="text" class="validate" value="{{email}}" name="email">
                        </div>
                    </td>
                    <td>
                        <span id="elementosSpan">{{ elementos }}<span>
                        <div class="input-field col s12">
                            <input type="text" class="validate" value="{{elementos}}" name="elementos">
                        </div>
                    </td>
                    <td>
                        <span id="mantenimientoSpan">{% if mantenimiento %} {{ "Activado" }} {% else %} {{ "Desactivado" }} {% endif %}<span>
                        <div class="input-field col s12">
                            <input type="text" class="validate" value="{{mantenimiento}}" name="mantenimiento">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        {% for card in cards %}
        <div class="col s12 m4 card-container">
            <div class="card">
                <h4 class="card-header">
                    <small><span class="titleSpan">{{ card.titulo }}<span></small>
                    <div class="input-field col s12">
                        <input type="text" class="validate" value="{{card.titulo}}">
                    </div>
                </h4>
                <div class="card-body">
                    <p class="card-text"><span class="descSpan">{{ card.descripcion }}<span></p>
                    <div class="input-field col s12">
                        <textarea class="validate materialize-textarea" value="{{card.descripcion}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}