{% extends 'base.html.twig' %}

{% block body %}
<section class="container" style="">
    <div class="row">
        <div class="col s12 l6">
            <h4>Pacientes</h4>
        </div>
        <br clear="all">
        <form class="search-form" method="get" target="_self" onsubmit="return validateSearchPac()">

            <input type="text" name="controller" value="Pacientes" hidden>
            <input type="text" name="action" value="index" hidden>

            <div class="col s4  height-100">
                <div class="input-field">
                    <select name="idTipoDoc" id="idTipoDoc">
                        <option value="" disabled selected>Tipo de Documento</option>
                        {% for tipo in allTipoDoc %}
                            <option value="{{ tipo.id }}" >{{ tipo.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label>Tipo de Documento</label>
                </div>
            </div>

            <div class="col s2 ">
                <div class="input-field">
                    <input id="nombre" type="text" name="nombre">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col s2 ">
                <div class="input-field">
                    <input id="apellido" type="text" name="apellido">
                    <label for="apellido">Apellido</label>
                </div>
            </div>
            <div class="col s2 ">
                <div class="input-field">
                    <input id="dni" type="number" min="1" name="dni" class="validate">
                    <label for="dni">DNI</label>
                </div>
            </div>
            <div class="col s1 ">
                <button type="submit" class="btn-floating btn-small waves-effect waves-light icon-cyan">
                    <i class="material-icons icon-cyan">search</i>
                </button>
            </div>

        </form>
    </div>

    <div class="divider divider-margin"></div>

    <div class="row">
        {% if noResults %}
            {% include '/noresults.html.twig' %}
            </div> <!-- para cerrar el div del row -->
        {% else %}

        <span id="paginacion" style="display: none">{{ elementos }}</span>

        {% for paciente in allPaciente %}
        <div class="col s12 l6 cardContainer">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">
                        {{ "#{paciente.apellido}, #{paciente.nombre}" }}
                        <!-- Dropdown Trigger -->
                        <a href="#!" data-activates="{{ "card-dropdown#{loop.index}" }}" class="secondary-content dropdown-button float-right">
                            <i class="icon-cyan material-icons">settings</i>
                        </a>
                    </span>

                    <div class="divider"></div>

                    <div class="contenido-card">
                        <p style="display: none;">{{ paciente.idPaciente }}</p>
                        <p>DNI: {{ paciente.dni }}</p>
                        <p>Tipo de Documento:
                            {% for tipo in allTipoDoc %}
                                {% if paciente.idTipoDoc == tipo.id  %}
                                        <span> {{tipo.nombre}} </span>
                                {% endif %} 
                            {% endfor %}
                         </p>
                        <p style="display: none;">{{ paciente.nombre }}</p>
                        <p style="display: none;">{{ paciente.apellido }}</p>
                    </div>
                </div>

                <!-- Dropdown Structure -->
                <ul id="card-dropdown{{ loop.index }}" class='dropdown-content'>
                
                        <li>
                            <a href="?controller=Pacientes&action=showPaciente&idPaciente={{ paciente.idPaciente }}">Show</a>
                        </li>
                        <li class="divider"></li>
                    {% if (paciente_destroy == true)  %}
                        <li>
                            <a data-target="modal1" class="modal-trigger openDeleteModal" data-id="{{ paciente.idPaciente }}/{{ paciente.apellido }}, {{ paciente.nombre }}">Delete</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                        <li>
                            <a href="?controller=Pacientes&action=updatePaciente&idPaciente={{ paciente.idPaciente }}">Update</a>
                        </li>
                        <li class="divider"></li>
                    {% if (consulta_new == true)  %}
                        <li>
                            <a href="?controller=Consultas&action=newConsulta&idPaciente={{ paciente.idPaciente }}">Cargar consulta</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                    {% if (consulta_show == true)  %}
                        <li>
                            <a href="?controller=Consultas&action=index&idPaciente={{ paciente.idPaciente }}">Historia</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                    {% if (consulta_destroy == true)  %}
                        <li>
                            <a data-target="modal2" class="modal-trigger openDeleteHistoryModal" data-id="{{ paciente.idPaciente }}/{{ paciente.apellido }}, {{ paciente.nombre }}">Eliminar historia</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %} 
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="divider divider-margin"></div>

    <div class="paginacionDiv">
        <ul class="pagination center-align">
            <li class="disabled pagination-back"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% for i in range(0, (pacientesCant // elementos)) %}
                <li class="pagination-li waves-effect"><a href="#!">{{ loop.index }}</a></li>
            {% endfor %}
            <li class="pagination-next"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>

{% endif %} <!-- Del noResults -->

</section>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light icon-cyan" href="?controller=Pacientes&action=newPaciente">
             <i class="large material-icons">add</i>
        </a>
    </div>


{% include '/pacientes/modals.html.twig' %}

{% endblock %}