{% extends 'base.html.twig' %}

{% block body %}
<section class="container" style="">
    <div class="col m10 s12 offset-m1">

        <form class="search-form" method="get" target="_self">

            <input type="text" name="controller" value="Pacientes" hidden>
            <input type="text" name="action" value="index" hidden>

            <div class="col s4 height-100">
                <div class="input-field">
                    <select name="idTipoDoc">
                        <option value="" disabled selected>Tipo de Documento</option>
                        {% for tipo in allTipoDoc %}
                            <option value="{{ tipo.idTipoDoc }}" >{{ tipo.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label>Tipo de Documento</label>
                </div>
            </div>

            <div class="col s2">
                <div class="input-field">
                    <input id="nombre" type="text" name="nombre">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input id="apellido" type="text" name="apellido">
                    <label for="apellido">Apellido</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input id="dni" type="number" name="dni">
                    <label for="dni">DNI</label>
                </div>
            </div>
            <div class="col s2">
                <button type="submit" class="btn-floating btn-small waves-effect waves-light icon-cyan">
                    <i class="material-icons icon-cyan">search</i>
                </button>
            </div>

        </form>
    </div>

    <div class="divider divider-margin"></div>

    <div class="row">
        <span id="paginacion" style="display: none">{{ elementos }}</span>

        {% for paciente in allPaciente %}
        <div class="col s12 l6 cardContainer">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">
                        {{ "#{paciente.apellido}, #{paciente.nombre}" }}
                        <!-- Dropdown Trigger -->
                        <a href="#!" data-activates="{{ "card-dropdown#{loop.index}" }}" class="secondary-content dropdown-button float-right">
                            <i class="icon-cyan material-icons">settings</i>
                        </a>
                    </span>

                    <div class="divider"></div>

                    <div class="contenido-card">
                        <p style="display: none;">{{ paciente.idPaciente }}</p>
                        <p>DNI: {{ paciente.dni }}</p>
                        <p>Tipo de documento: {{ paciente.idTipoDoc }}</p>
                        <p style="display: none;">{{ paciente.nombre }}</p>
                        <p style="display: none;">{{ paciente.apellido }}</p>
                    </div>
                </div>

                <!-- Dropdown Structure -->
                <ul id="card-dropdown{{ loop.index }}" class='dropdown-content'>
                    <li>
                         <a href="?controller=Pacientes&action=showPaciente&idPaciente=2">Show patient demo</a>
                    </li>
                    <li class="divider"></li>
                    <li>       
                         <a href="#modal1" class="modal-trigger">Show bai patient demo</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="?controller=Pacientes&action=newPaciente">Show new patient demo</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="?controller=Pacientes&action=updatePaciente&idPaciente=2">Show edit patient demo (funciona)</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="divider divider-margin"></div>

    <div class="paginacionDiv">
        <ul class="pagination center-align">
            <li class="disabled pagination-back"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% for i in range(0, (pacientesCant // elementos)) %}
                <li class="pagination-li waves-effect"><a href="#!">{{ loop.index }}</a></li>
            {% endfor %}
            <li class="pagination-next"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>

</section>

{% include '/pacientes/modals.html.twig' %}

{% endblock %}