{% extends 'base.html.twig' %}

{% block body %}

<div class=" col s8 offset-s2">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card hovercard">
                    <div class="card-background"></div>
                    <div class="useravatar">
                        <img alt="" src="../../public/imgs/patient2.jpg">
                    </div>
                    <div class="card-info"> <span class="card-title">Edita los datos del paciente {{ paciente.apellido }},  {{ paciente.nombre }} .</span> </div>
                </div>
            
                <div id="" class="col s12">
                        <form class="col s12" method="post" name="update" action="index.php?controller=Pacientes&action=auxUpdatePaciente" autocomplete="off" onsubmit="return validacion();">
                                <br>
                                <h5>Informacion personal</h5>
                                <br>
                                <input id="idPaciente" name="idPaciente" type="text" class="validate" hidden value="{{ paciente.idPaciente }}">
                                <div class="input-field col s12 m4">
                                    <input id="nombre" name="nombre" type="text" class="validate" value="{{ paciente.nombre }}">
                                    <label for="nombre">*Nombre</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="apellido" name="apellido" type="text" class="validate" value="{{ paciente.apellido }}">
                                    <label for="apellido">*Apellido</label>
                                </div>
                                
                                <div class="input-field col s12 m4">
                                    <input type="text" name="fecha_nacimiento"  class="datepicker" value="{{ paciente.fecha_nacimiento }}">
                                    <label for="fecha_nacimiento">*Fecha de nacimiento</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select name="idGenero" id="idGenero" class="icons">
                                            <option value="" disabled>Genero</option>
                                            <option data-icon="/public/imgs/female.png" class="circle" value="1">Femenino</option>
                                            <option data-icon="/public/imgs/male.png" class="circle" value="2">Masculino</option>
                                    </select>
                                    <label>*Genero</label>
                                </div>

                                <div class="input-field col s12 m4">
                                    <select name="idTipoDoc" id="idTipoDoc" >
                                            {% for tipo in allTipoDoc %}
                                                <option value="{{ tipo.idTipoDoc }}" >{{ tipo.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>*Tipo de documento</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="dni" name="dni" type="number" class="validate" value="{{ paciente.dni }}">
                                    <label for="dni">*DNI</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="domicilio" name="domicilio" type="text" class="validate" value="{{ paciente.domicilio }}">
                                    <label for="domicilio">*Domicilio</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input id="telefono" name="telefono" type="number" class="validate" value="{{ paciente.telefono }}">
                                    <label for="telefono">Telefono</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select name="idObraSocial" id="idObraSocial">
                                             {% for obra in allObraSocial %}                                            
                                                <option value="{{ obra.idObraSocial }}">{{ obra.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>Obra Social</label>
                                </div>
                                <br>        
                                <h5 id="#datos-demo" >Datos demograficos</h5>
                                <br>
                                <div class="input-field col s12 m6">
                                    <select name="heladera" id="heladera" class="icons">
                                        <option data-icon="/public/imgs/yes.png" class="circle" value="1">Sí</option>
                                        <option data-icon="/public/imgs/no.png" class="circle" value="0">No</option>
                                    </select>
                                    <label>*Heladera?</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <select name="electricidad" id="electricidad" class="icons">
                                        <option data-icon="/public/imgs/yes.png" class="circle" value="1">Sí</option>
                                        <option data-icon="/public/imgs/no.png" class="circle" value="0">No</option>
                                    </select>
                                    <label>*Electricidad?</label>
                                </div>
                                
                                <div class="input-field col s12 m6">
                                    <select name="mascota" id="mascota" class="icons">
                                        <option data-icon="/public/imgs/yes.png" class="circle" value="1">Sí</option>
                                        <option data-icon="/public/imgs/no.png" class="circle" value="0">No</option>
                                    </select>
                                    <label>*Mascota?</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <select name="idTipoVivienda" id="idTipoVivienda">
                                            {% for tipo in allTipoVivienda %}
                                                <option value="{{ tipo.idTipoVivienda }}">{{ tipo.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>*Tipo de Vivienda?</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <select name="idTipoCalefaccion" id="idTipoCalefaccion">
                                            {% for tipo in allTipoCalefaccion %}
                                                <option value="{{ tipo.idTipoCalefaccion }}">{{ tipo.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>*Tipo de Calefaccion?</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <select name="idTipoAgua" id="idTipoAgua">
                                            {% for tipo in allTipoAgua %}
                                                <option value="{{ tipo.idTipoAgua }}">{{ tipo.nombre }}</option>
                                            {% endfor %}
                                    </select>
                                    <label>*Tipo de Agua?</label>
                                </div>
                                <div class="row col m12">
                                    <div class="col s12 m6">
                                        <button class="col s12 m6 btn waves-effect waves-light right-align" type="reset" name="submit">Limpiar
                                            <i class="material-icons right">backspace</i>
                                        </button>
                                    </div>
                                    <div class="col s12 m6">
                                        <button class="col s12 m6 btn waves-effect waves-light" type="submit" name="submit">Enviar
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                        
                                        
                                    </div>
                                </div>
                                    
                    </form>
            </div>
        </div>
    </div>
</div>           

<script>
    select({{ paciente.idGenero }}, {{ paciente.idTipoDoc }},{{ paciente.idObraSocial }},{{ paciente.heladera }}, {{ paciente.electricidad }},  {{ paciente.mascota }}, {{ paciente.idTipoVivienda }}, {{ paciente.idTipoCalefaccion }}, {{ paciente.idTipoAgua }})
</script>

{% endblock %}